// CONTAINER
.container {
    @include respond-to ('large') {
      width: 100%;
    }
}
  
  // BUTTON
  .button {
    &--large {
      @include respond-to ('large') {
        font-size: 14px;
        padding: 8px 16px;
      }
    }
  }
  
  // NAV
  .nav {
    @include respond-to ('large') {
      height: 60px;
    }
  
    @include respond-to ('small') {
      padding-left: 0;
    }
  
    &__bar,
    &__noti,
    &__application,
    &__search,
    &__avar,
    &__menu-dots {
      @include respond-to ('small') {
        width: 100%;
      }
    }
  
    .dropdown-menu.pull-right {
      @include respond-to ('small') {
        left: 50%;
      }
    }
  
    &__noti-dropdown {
      @include respond-to ('small') {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-height: 400px;
      }
    }
  
    &__tab {
      @include respond-to ('small') {
        width: 100%;
        position: relative;
      }
    }
  
    &__tab-item {
      @include respond-to ('small') {
        width: 100%;
        position: unset;
      }
    }
  
    &__profile-item {
      &:hover {
        .nav__sidebar-hover {
          @include respond-to ('small') {
            display: none;
          }
        }
      }
    }
  
    &__search-desktop {
      @include respond-to ('small') {
        display: none;
      }
    }
  
    &__search-mobile {
      @include respond-to ('small') {
        display: block;
      }
  
      .nav__search-input-wrapper {
        @include respond-to ('small') {
          position: relative;
          right: 0;
          top: 0;
          transform: translateX(0);
          padding: 0;
          display: block;
        }
      }
  
      .nav__input {
        width: 100%;
      }
    }
  
    &__logo {
      @include respond-to ('large') {
        width: 105px;
        height: 35px;
      }
  
      @include respond-to ('small') {
        display: none;
      }
    }
  
    &__icon {
      @include respond-to ('large') {
        display: none;
      }
    }
  
    &__input {
      @include respond-to ('medium') {
        width: 200px;
      }
    }
  
    &__app-text {
      font-size: 12px;
    }
  
    &__sub-item-mobile {
      @include respond-to ('medium') {
        display: block;
      }
    }
  
    &__sub-item-desktop {
      @include respond-to ('medium') {
        display: none;
      }
    }
  }
  
  .backdrop {
    &.active {
      @include respond-to ('small') {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.5);
        transition: .4s;
        overflow: hidden;
      }
    }
  }
  
  // NEWSLETTER
  .newsletter {
    @include respond-to ('large') {
      padding: 20px 0;
      height: auto;
    }
  
    &-register {
      @include respond-to ('small') {
        align-items: flex-start;
      }
    }
  
    &--apps {
      @include respond-to ('large') {
        width: 130px;
        height: 30px;
      }
    }
  
    &__resgister {
      @include respond-to ('medium') {
        margin-top: 35px;
      }
    }
  }
  
  // FOOTER
  .footer-top {
    &__item {
      @include respond-to ('medium') {
        width: 49%;
        margin-right: 1%;
        margin-bottom: 10px;
      }
  
      &--last {
        @include respond-to ('medium') {
          margin-bottom: 0;
        }
      }
    }
  
    &__wrapper {
      @include respond-to ('large') {
        flex-direction: column;
        align-items: flex-start;
      }
  
      @include respond-to ('medium') {
        flex-direction: row;
      }
    }
  
    &__ul {
      @include respond-to ('large') {
        margin-bottom: 20px;
      }
  
      @include respond-to ('medium') {
        margin-bottom: 0;
        flex-wrap: wrap;
      }
    }
  
    &__sns {
      @include respond-to ('medium') {
        justify-content: flex-end;
      }
    }
  
    &__sns-item {
      @include respond-to ('medium') {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 16px;
      }
  
      .ms-Icon {
        @include respond-to ('medium') {
          font-size: 14px;
        }
      }
    }
  }
  
  .footer-center {
    @include respond-to ('medium') {
      padding: 32px 0 12px 0;
    }
  
    &__block {
      @include respond-to ('medium') {
        margin-bottom: 20px;
      }
    }
  }
  
  // MAIN SECTION
  .main-section {
    @include respond-to ('large') {
      padding-top: 60px;
    }
  }
  
  // BANNER
  .banner {
    @include respond-to ('large') {
      height: 400px;
    }
  
    @include respond-to ('large') {
      height: 300px;
    }
  
    @include respond-to ('medium') {
      height: 230px;
    }
  
    &__button {
      @include respond-to ('large') {
        margin-top: 10px;
      }
    }
  
    &__img {
      @include respond-to ('large') {
        height: 400px;
      }
  
      @include respond-to ('large') {
        height: 300px;
      }
  
      @include respond-to ('medium') {
        height: 230px;
      }
    }
  
    &__content {
      @include respond-to ('large') {
        top: 15%;
        left: 10%;
      }
  
      @include respond-to ('large') {
        top: 15%;
        left: 50px;
      }
    }
  
    &__indicators {
      @include respond-to ('large') {
        bottom: 10px;
      }
    }
  
    &__indicators-item {
      @include respond-to ('large') {
        width: 8px;
        height: 8px;
      }
    }
  
    &__content-wrapper {
      @include respond-to ('large') {
        width: 100%;
      }
    }
  
    &__sub-img {
      @include respond-to ('large') {
        display: none;
      }
    }
  
    &__title {
      @include respond-to ('large') {
        font-size: 18px;
      }
    }
  
    &__sub-title {
      p {
        @include respond-to ('large') {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  
    &__left-arrow,
    &__right-arrow {
      @include respond-to ('large') {
        width: 50px;
      }
    }
  
    &__arrow-icon {
      @include respond-to ('large') {
        width: 30px;
        height: 30px;
      }
  
      &:hover {
        @include respond-to ('large') {
          background: transparent;
        }
      }
    }
  }
  
  // QUICK LINK
  .block-section {
    @include respond-to ('large') {
      height: auto;
      padding: 0;
      padding-top: 15px;
    }
  
    &__wrapper {
      @include respond-to ('large') {
        flex-wrap: wrap;
      }
    }
  
    &__link {
      @include respond-to ('large') {
        margin-bottom: 15px;
      }
  
      @include respond-to ('large') {
        flex: 0 0 30%;
        border-top: 1px solid #d9d9d0;
      }
    }
  }
  
  // MEDIA SECTION
  .media-section {
    @include respond-to ('medium') {
      padding: 40px 0;
    }
  
    &__block {
      .ms-Grid-col {
        @include respond-to ('medium') {
          width: 100%;
        }
      }
    }
  
    &__outside {
      @include respond-to ('large') {
        flex-direction: column;
      }
    }
  
    &__outter {
      @include respond-to ('medium') {
        padding-bottom: 4px;
      }
    }
  
    &__position {
      @include respond-to ('medium') {
        margin-top: 4px;
      }
    }
  
    &__wrapper {
      @include respond-to ('medium') {
        height: auto;
      }
    }
  
    &__desc {
      @include respond-to ('medium') {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  
    &__user {
      @include respond-to ('medium') {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  
    &__dot {
      @include respond-to ('medium') {
        display: none;
      }
    }
  
    &__detail-info {
      @include respond-to ('medium') {
        margin-top: 4px;
  
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  
  // NEWS CENTER
  .news-center {
    &__title {
      @include respond-to ('small') {
        margin-bottom: 15px;
      }
    }
  }
  
  .section-nav-news {
    @include respond-to ('large') {
      left: 0;
      top: -50px;
    }
  
    &__wrapper {
      @include respond-to ('large') {
        display: flex;
        position: relative;
      }
    }
  
    &__item {
      @include respond-to ('large') {
        margin-right: 15px;
      }
    }
  }
  
  .section-top-news {
    @include respond-to ('large') {
      margin-top: 30px;
    }
  
    @include respond-to ('small') {
      margin-bottom: 20px;
      padding-bottom: 0;
    }
  
    &__pic {
      img {
        @include respond-to ('small') {
          width: 100%;
        }
      }
    }
  
    &__content {
      @include respond-to ('small') {
        width: 100%;
        padding-right: 0;
      }
    }
  
    &__title {
      @include respond-to ('small') {
        margin-top: 8px;
      }
    }
  
    &__item {
      @include respond-to ('small') {
        flex-direction: column;
      }
  
      &--large {
        .section-top-news__pic img {
          @include respond-to ('medium') {
            width: 100%;
            height: 250px;
          }
        }
  
        .section-top-news__title {
          @include respond-to ('medium') {
            font-size: 24px;
          }
        }
      }
  
      &--category-small {
        @include respond-to ('medium') {
          flex-direction: column;
        }
  
        .section-top-news__pic img {
          @include respond-to ('large') {
            width: 100px;
          }
  
          @include respond-to ('medium') {
            width: 100%;
            height: 100px;
          }
        }
  
        .section-top-news__content {
          @include respond-to ('large') {
            width: calc(100% - 100px);
          }
  
          @include respond-to ('medium') {
            width: 100%;
            padding: 0;
            margin-top: 10px;
          }
  
          @include respond-to ('small') {
            margin-top: 0;
          }
        }
      }
  
      &--category-large {
        .section-top-news__pic {
          @include respond-to ('small') {
            margin-bottom: 0;
          }
        }
        .section-top-news__pic img {
          @include respond-to ('medium') {
            width: 100%;
            height: 100px;
          }
  
          @include respond-to ('small') {
            height: 140px;
          }
        }
      }
  
      &--suggest {
  
        @include respond-to ('small') {
          flex-direction: column;
        }
  
        .section-top-news__pic img {
          @include respond-to ('medium') {
            width: 206px;
            height: 140px;
          }
          @include respond-to ('small') {
            width: 100%;
          }
        }
  
        .section-top-news__content {
          @include respond-to ('medium') {
            width: calc(100% - 206px);
            height: auto
          }
          @include respond-to ('small') {
            width: 100%;
            padding: 0;
            height: auto;
          }
        }
      }
    }
  
    &__wrapper {
      @include respond-to ('medium') {
        flex-direction: column;
      }
    }
  
    &__left {
      @include respond-to ('medium') {
        width: 100%;
        padding: 0;
      }
    }
  
    &__right {
      @include respond-to ('medium') {
        width: 100%;
        padding: 0;
      }
    }
  }
  
  .section-custom-news {
    @include respond-to ('medium') {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  
  .section-suggest {
    @include respond-to ('medium') {
      margin-top: 32px;
    }
  
    @include respond-to ('small') {
      margin-top: 20px;
    }
  }
  
  .section-popular {
    .section-top-news__title {
      @include respond-to ('small') {
        margin-top: 0
      }
    }
  }
  
  .section-category {
    @include respond-to ('small') {
      margin-top: 20px;
    }
  
    &__down {
      @include respond-to ('medium') {
        display: block;
      }
    }
  
    &__wrapper {
      @include respond-to ('small') {
        flex-direction: column;
        margin-bottom: 0;
      }
    }
  
    &__block {
      @include respond-to ('small') {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  
    &__title {
      @include respond-to ('small') {
        margin-bottom: 15px;
      }
    }
  }
  
  // NEWS MANAGEMENT
  .news-management-header {
    @include respond-to ('small') {
      flex-direction: column-reverse;
    }
  
    &__search-input {
      @include respond-to ('medium') {
        width: 200px;
      }
  
      @include respond-to ('small') {
        width: calc(100% - 45px);
      }
    }
  
    &__view-category {
      @include respond-to ('small') {
        width: 130px;
      }
    }
  
    &__search {
      @include respond-to ('small') {
        width: calc(100% - 130px);
      }
    }
  
    &__search-icon {
      @include respond-to ('small') {
        width: 30px;
        text-align: right;
      }
    }
  
    &__right {
      @include respond-to ('small') {
        margin-bottom: 20px;
      }
    }
  
    .news-management-header__right button {
      @include respond-to ('small') {
        width: 100%;
      }
    }
  }
  
  //LOADING
  .loading {
    @include respond-to ('small') {
      width: 100%;
      padding: 0 10%;
      margin-top: 30px;
    }
  
  
    &__content {
      @include respond-to ('small') {
        width: calc(100% - 100px);
      }
    }
  
    &__img {
      @include respond-to ('small') {
        width: 100px;
        height: 80px;
      }
    }
  
    &__title {
  
      &:before {
        @include respond-to ('small') {
          width: 90%;
          height: 10px;
        }
      }
  
      &:after {
        @include respond-to ('small') {
          top: 15px;
          width: 80%;
          height: 10px;
        }
      }
    }
  
    &__title-media {
      @include respond-to ('small') {
        margin-top: 35px;
      }
  
      &:before {
        @include respond-to ('small') {
          width: 100%;
          height: 6px;
        }
      }
  
      &:after {
        @include respond-to ('small') {
          width: 85%;
          height: 6px;
          top: 10px;
        }
      }
    }
  
    &__title-small {
      @include respond-to ('small') {
        margin-top: 60px;
        margin-bottom: 30px;
      }
  
      &:before {
        @include respond-to ('small') {
          height: 4px;
        }
      }
  
      &:after {
        @include respond-to ('small') {
          height: 4px;
          top: 8px;
        }
      }
    }
}