.button {
    border-radius: 50px;
    cursor: pointer;
    border: 0;
  
    &:hover {
      opacity: .8;
    }
  
    &--red {
      background: $cl-red;
      color: $cl-white;
    }
  
    &--black {
      background: $cl-black;
      color: $cl-white;
    }
  
    &--outline {
      background: transparent;
      border: 1px solid $cl-grey-3;
      padding: 6px 15px;
    }
  
    &--large {
      padding: 16px 52px;
      font-size: 23px;
      font-weight: bold;
    }
  
    &--small {
      font-size: 14px;
      padding: 12px 32px;
    }
  
    &--xsmall {
      font-size: 14px;
      padding: 8px 15px;
    }
  
    &--rectangle {
      border-radius: 3px;
    }
}