.newsletter {
    background: $cl-light-grey;
    height: 200px;
    display: flex;
    align-items: center;
  
    &__title {
      font-weight: bold;
      margin-bottom: 16px;
    }
  
    &__input-outter {
      position: relative;
      width: 325px;
    }
  
    &__input-outter {
      position: relative;
    }
  
    &__btn {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  
    &__input {
      background: transparent;
      border: 1px solid #d9d9d0;
      border-radius: 50px;
      height: 56px;
      width: 325px;
      padding: 20px 120px 20px 20px;
    }
  
    &__apps {
      width: 160px;
      height: 55px;
      margin-right: 20px;
      display: flex;
      align-items: center;
    }
}