.main-section {
    padding-top: 64px;
  }
  
  .banner {
    height: 200px;
    position: relative;
  
    &__button {
      margin-top: 40px;
    }
  
    &__img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  
    &__content {
      position: absolute;
      top: 0;
      left: 0;
      top: 120px;
    }
  
    &__indicators {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      z-index: 100;
    }
  
    &__indicators-item {
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background: #c4c4c4;
      border-radius: 50%;
      cursor: pointer;
  
      &--active {
        background: $cl-red;
      }
    }
  
    &__content-wrapper {
      width: 1110px;
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  
    &__sub-img {
      position: absolute;
      width: 190px;
      height: auto;
      left: 0;
      bottom: 40px;
    }
  
    &__title {
      font-weight: bold;
      font-size: 32px;
      margin-bottom: 8px;
    }
  
    &__sub-title {
      p {
        font-size: 23px;
        line-height: 26px;
      }
    }
  
    &__left-arrow,
    &__right-arrow {
      position: absolute;
      top: 0;
      width: 128px;
      height: 100%;
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  
    &__left-arrow {
      left: 0;
    }
  
    &__right-arrow {
      right: 0;
    }
  
    &__arrow-icon {
      width: 50px;
      height: 50px;
      background: rgba(245, 223, 198, 0.4);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  
      &--active {
        color: $cl-red;
      }
  
      &:hover {
        background: $cl-beidge;
      }
    }
  }
  
  .block-section {
    height: 110px;
    background: $cl-light-grey;
    padding: 20px 0;
  
    &__wrapper {
      display: flex;
    }
  
    &__link {
      width: 100px;
      padding: 8px 4px;
      background: $cl-blue;
      color: $cl-white;
      border-radius: 4px;
  
      &:hover {
        background: lighten($cl-blue, 5%);
        color: $cl-white;
      }
    }
  
    &__icon {
      font-size: 23px;
      text-align: center;
    }
  
    &__title {
      margin-bottom: 4px;
      font-size: 12px;
    }
  
    &__content {
      text-align: center;
    }
  
    &__more {
      color: #999999;
      margin-right: 4px;
      display: inline-block;
  
      .ms-Icon {
        font-size: 10px;
      }
    }
  }
  
  .media-section {
    padding: 70px 0;
  
    &__outter {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
      padding: 0 20px;
      min-height: 510px;
      margin: 10px 0;
    }
  
    &__item {
      border: 1px solid $cl-grey;
      padding: 8px;
      margin-bottom: 20px;
      cursor: pointer;
  
      &:hover {
        .media-section__img {
          transform: scale(1.2);
          transition: .8s;
        }
      }
    }
  
    &__main-text {
      font-weight: bold;
    }
  
    &__position {
      color: #cacac4;
    }
  
    &__wrapper {
      background: #f7f7f4;
      padding: 8px;
      height: 70px;
      margin-bottom: 15px;
    }
  
    &__header {
      margin-bottom: 24px;
    }
  
    &__desc {
      margin-top: 8px;
    }
  
    &__avar {
      border: 1px solid $cl-grey;
      border-radius: 50%;
      margin-right: 8px;
      width: 50px;
      height: 50px;
    }
  
    &__right {
      width: calc(100% - 50px);
    }
  
    &__avar-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  
    &__text {
      width: 70%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    &__seen {
      margin-right: 8px;
    }
  
    &__sns {
      .ms-Icon--RedEye,
      .ms-Icon--Like {
        margin-right: 4px;
        cursor: pointer;
  
        &:hover {
          color: $cl-red;
        }
      }
    }
  
    &__thumbnail {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 150px;
  
      &--layer {
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          background: rgba(0, 0, 0, 0.16);
          z-index: 100;
        }
      }
    }
  
    &__play {
      position: absolute;
      bottom: 0;
      z-index: 101;
    }
  
    &__play-btn {
      width: 25px;
      height: 25px;
      background: $cl-red;
      text-align: center;
      line-height: 25px;
  
      .ms-Icon {
        color: $cl-white;
      }
    }
  
    &__time {
      height: 25px;
      width: 50px;
      background: $cl-black;
      text-align: center;
      line-height: 25px;
      color: $cl-white;
    }
  
    &__img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      transition: .4s;
    }
  
    &__dot {
      display: inline-block;
      width: 3px;
      height: 3px;
      background: #cacac4;
      margin: 0 8px;
    }
  
    &__detail-info {
      margin-right: 20px;
  
      .ms-Icon--Mail,
      .ms-Icon--Phone {
        margin-right: 4px;
      }
    }
  
    &__title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      display: inline-block;
      position: relative;
      padding: 20px 0;
  
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: $cl-red;
      }
    }
  
    &__arrows-btn {
      margin: 0 8px;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      border: 2px solid $cl-blue;
      color: $cl-blue;
      cursor: pointer;
  
      .ms-Icon {
        font-size: 12px;
      }
    }
}