// Fonts
$font-primary: 'Arial', 'Helvetica', sans-serif;

// Colors
$cl-red: #c31f27;
$cl-blue: #0066b1;
$cl-black: #1c1014;
$cl-white: #fdfdfd;
$cl-grey: #edeff5;
$cl-beidge: #f5dfc6;
$cl-light-grey: #f7f7f4;

$cl-grey-2: #807b7b;
$cl-grey-3: #c4c4c4;
$cl-grey-4: #e3e3e3;
$cl-grey-5: #e7e7e7;
$cl-grey-6: #fafafa;