mixin footer
  footer.footer
    .footer-top
      .container
        .row
          .col-md-9.col-xs-8
            ul.d-flex.footer-top__ul
              li.footer-top__item
                a.footer-top__link(href="#!") GIỚI THIỆU
              li.footer-top__item
                a.footer-top__link(href="#!") NHÀ ĐẦU TƯ
              li.footer-top__item
                a.footer-top__link(href="#!") TIN TỨC
              li.footer-top__item
                a.footer-top__link(href="#!") MẠNG LƯỚI
              li.footer-top__item.footer-top__item--last
                a.footer-top__link(href="#!") TUYỂN DỤNG
              li.footer-top__item.footer-top__item--last
                a.footer-top__link(href="#!") LIÊN HỆ
          .col-md-3.col-xs-4
            .footer-top__sns.d-flex
              .footer-top__sns-item
                span.fa.fa-facebook-f
              .footer-top__sns-item
                span.fa.fa-youtube
    .footer-center
      .container
        .row
          .footer-center__block.col-md-3.col-sm-6
            .footer-center__title / Khách hàng cá nhân
            ul
              li.footer-center__item
                a.footer-center__link(href="#!") Tôi muốn
              li.footer-center__item
                a.footer-center__link(href="#!") Tài khoản
              li.footer-center__item
                a.footer-center__link(href="#!") Tiền gửi
              li.footer-center__item
                a.footer-center__link(href="#!") Tiền vay
              li.footer-center__item
                a.footer-center__link(href="#!") Thẻ
              li.footer-center__item
                a.footer-center__link(href="#!") Chuyển tiền quốc tế
              li.footer-center__item
                a.footer-center__link(href="#!") Sản phẩm dịch vụ
              li.footer-center__item
                a.footer-center__link(href="#!") Sản phẩm liên kết
              li.footer-center__item
                a.footer-center__link(href="#!") Chính sách
          .footer-center__block.col-md-3.col-sm-6
            .footer-center__title / Khách hàng doanh nghiệp
            ul
              li.footer-center__item
                a.footer-center__link(href="#!") Tôi muốn
              li.footer-center__item
                a.footer-center__link(href="#!") Tài khoản
              li.footer-center__item
                a.footer-center__link(href="#!") Tiền gửi
              li.footer-center__item
                a.footer-center__link(href="#!") Tiền vay
              li.footer-center__item
                a.footer-center__link(href="#!") Thẻ
              li.footer-center__item
                a.footer-center__link(href="#!") Chuyển tiền quốc tế
              li.footer-center__item
                a.footer-center__link(href="#!") Sản phẩm dịch vụ
              li.footer-center__item
                a.footer-center__link(href="#!") Sản phẩm liên kết
              li.footer-center__item
                a.footer-center__link(href="#!") Chính sách
          .footer-center__block.col-md-3.col-sm-6
            .mb-20
              .footer-center__title / Thẻ & Ngân hàng điện tử
              ul
                li.footer-center__item
                  a.footer-center__link(href="#!") Thẻ cá nhân
                li.footer-center__item
                  a.footer-center__link(href="#!") Thẻ doanh nghiệp
                li.footer-center__item
                  a.footer-center__link(href="#!") Ngân hàng điện tử
            .footer-center__title / Chương trình khuyến mãi
            ul
              li.footer-center__item
                a.footer-center__link(href="#!") Khách hàng cá nhân
              li.footer-center__item
                a.footer-center__link(href="#!") Khách hàng doanh nghiệp
              li.footer-center__item
                a.footer-center__link(href="#!") Ưu đãi chủ thẻ
          .footer-center__block.col-md-3.col-sm-6
            .mb-20
              .footer-center__title / Thẻ & Ngân hàng điện tử
              ul
                li.footer-center__item
                  a.footer-center__link(href="#!") Thẻ cá nhân
                li.footer-center__item
                  a.footer-center__link(href="#!") Thẻ doanh nghiệp
                li.footer-center__item
                  a.footer-center__link(href="#!") Ngân hàng điện tử


            .footer-center__title / Chương trình khuyến mãi
            ul
              li.footer-center__item
                a.footer-center__link(href="#!") Khách hàng cá nhân
              li.footer-center__item
                a.footer-center__link(href="#!") Khách hàng doanh nghiệp
              li.footer-center__item
                a.footer-center__link(href="#!") Ưu đãi chủ thẻ

    .footer-bottom
      .footer-bottom__title NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN SÀI GÒN
      p.footer-bottom__contact Hội sở: 927 Trần Hưng Đạo, Phường 1, Quận 5, Tp. HCM - Điện thoại: (028) 39230 666 - Fax: (028) 39225 888
      span SWIFT Code: SACLVNVX

    script(src="scripts/jquery/dist/jquery.min.js")
    script(src="scripts/popper.js/dist/umd/popper.min.js")
    script(src="scripts/bootstrap/dist/js/bootstrap.js")
    script(src="scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.js")
    script(src="scripts/main.js")



